@use "sass:map";
@import "style/pages/theme";

.header_top {
    background: #f5f5f5;
}

.header_top_left {
    ul {
        display: flex;
        align-items: center;
        padding: 10px 0 13px;
        list-style: none;
        column-gap: 20px;

        li {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            display: flex;
            align-items: center;
            column-gap: 2px;
        }

        li:first-child {
            position: relative;

            &:after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 20px;
                width: 1px;
                background: #000000;
                opacity: 0.1;
                content: "";
            }
        }
    }
}

.header_top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 13px;

    ul {
        display: flex;
        column-gap: 10px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
            transition: all 0.3s ease-in-out;

            &:hover {
                color: map.get($theme-colors, "main");
                transform: scale(1.1);
            }
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
            display: flex;
            align-items: center;

            span {
                font-size: 14px;
                margin-left: 5px;
            }
        }
    }
}

.header_logo {
    padding: 10px 0;
    
}

.header_menu {
    padding: 24px 0;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            position: relative;

            a {
                text-decoration: none;
                font-size: 14px;
                color: map.get($theme-colors, "bold-text");
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header_menu_dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(5px);
        }

        .active a {
            color: map.get($theme-colors, "main");
        }

        .header_menu_dropdown {
            background: #222222;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
            top: 100%;
            left: 0;
            border-radius: 5px;
            display: block; // Đảm bảo menu hiển thị dạng block
        
            li {
                display: block; // Hiển thị từng mục thành 1 dòng
                padding: 5px 15px;
        
                a {
                    text-transform: capitalize;
                    color: #ffffff;
                    font-weight: 400;
                    padding: 5px 0;
                    display: block;
                }
        
                &:hover a {
                    color: map.get($theme-colors, "main");
                }
            }
        }
    }
}

.header_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    ul {
        display: flex;
        margin-right: 25px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 30px;
                color: map.get($theme-colors, "normal-text");
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: map.get($theme-colors, "main");
                    transform: scale(1.1);
                }
            }

            span {
                color: white;
                background: map.get($theme-colors, "main");
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 40px;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                left: 20px;
                top: -5px;
            }
        }
    }
}
